body {
    background-image: url("img/bg_tile_200s.png");
}

#bigname {
    color: #00D0CD;
    font-family: sans-serif;
    font-size: 7em;
    text-align: center;
    padding-top: 1em;
    margin-bottom: 0.5em;
}

#portfolio-header {
    color: #00D0CD;
    font-family: sans-serif;
    font-size: 4em;
    text-align: left;
    margin-bottom: 0.5em;
}

#pitch {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.7em;
    padding-left: 10vw;
    padding-right: 10vw;
}

#letscreate {
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: block;
    font-size: 2.2em;
    padding-left: 10vw;
    padding-right: 10vw;
}

#links {
    padding-top: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
}

#homelink {
    color: white;
    font-family: sans-serif;
    font-size: 1em;
}

.linkbutton {
    height: 100px;
    object-fit: contain;
    max-width: 15vw;
}

.project h2 {
    color: white;
    font-family: sans-serif;
    font-size: 2em;
    padding-bottom: 0;
}

.projecttags {
    color: #AAAAAA;
    font-family: sans-serif;
    font-size: 1.2em;
    font-style: italic;
}

.project p:not(.projecttags) {
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
}

.project a p {
    color: white;
    font-family: sans-serif;
    font-size: 1em;
}

.project {
    padding-top: 50px;
}

.project * {
    margin-top: 5px;
    margin-bottom: 0;
}